@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-carousel {
    height: 100%;
}

.ant-pagination-options-size-changer {
    display: none;
}

.ant-pagination-options {
    margin-inline-start: 12px !important;
}

.ant-descriptions-item-label {
    padding: 8px 12px !important;
    font-weight: 700 !important;
}

.ant-descriptions-item-content {
    padding: 8px 12px !important;
}

.ant-space-gap-col-small {
    column-gap: 0px !important;
}
