@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-carousel {
    height: 100%;
}

.ant-pagination-options-size-changer {
    display: none;
}

.ant-pagination-options {
    margin-inline-start: 12px !important;
}
